<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>元合服饰| 微信商城</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <!-- bootstrap 3.2.0 -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <!-- font Awesome -->
  <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <!-- Ionicons -->
  <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css" />
  <!-- Theme style -->
  <link href="/css/AdminLTE.css" rel="stylesheet" type="text/css" />
  <link href="/bower_components/backgrid/lib/backgrid.min.css" rel="stylesheet" type="text/css" />
  <link href="/styles/backgrid-paginator.min.css" rel="stylesheet" type="text/css" />
  <link href="/bower_components/backgrid-text-cell/backgrid-text-cell.min.css" rel="stylesheet" type="text/css" />
  <link href="/bower_components/backgrid-select-all/backgrid-select-all.min.css" rel="stylesheet" type="text/css" />
  <link href="/styles/main.css" rel="stylesheet" type="text/css" />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
</head>

<body class="skin-blue">
  <!-- header logo: style can be found in header.less -->
  <header class="header">
    <a href="index.html" class="logo">
      <!-- Add the class icon to your logo image or logo icon to add the margining -->
      元合服饰微信商城
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="navbar-right">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-user"></i>
              <span>管理员 <i class="caret"></i></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header bg-light-blue">
                <!-- <img src="img/avatar3.png" class="img-circle" alt="User Image" /> -->
                <p>
                  管理员 角色
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <div class="wrapper row-offcanvas row-offcanvas-left">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="left-side sidebar-offcanvas">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="pull-left image">
            <!-- <img src="img/avatar3.png" class="img-circle" alt="User Image" /> -->
          </div>
          <div class="pull-left info">
            <p>你好，管理员</p>

            <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
          </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
          </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
          <li class="active">
            <a href="/#dashboard">
              <i class="fa fa-dashboard"></i>  <span>后台面板</span>
            </a>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-bar-chart-o"></i>
              <span>店铺管理</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="/#stores"><i class="fa fa-angle-double-right"></i> 查看店铺</a>
              </li>
            </ul>
          </li>
          <li class="treeview">
            <a href="#">
              <i class="fa fa-bar-chart-o"></i>
              <span>订单管理</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="/#orders"><i class="fa fa-angle-double-right"></i> 查看订单</a>
              </li>
            </ul>
          </li>
          <li class="treeview">
            <a href="/#brandDynmaicView">
              <i class="fa fa-bar-chart-o"></i>
              <span>品牌动态界面</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="pages/charts/morris.html"><i class="fa fa-angle-double-right"></i> Morris</a>
              </li>
          </li>
          </ul>
          </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
      <!-- Content Header (Page header) -->
      <section class="content-header">
      </section>

      <!-- Main content -->
      <section class="content">
      </section>
      <!-- /.content -->
    </aside>
    <!-- /.right-side -->
  </div>
  <!-- ./wrapper -->


  <script src="/bower_components/requirejs/require.js"></script>
  <script>
    require(['./scripts/init'], function(init) {
      require(['./main']);
    });
  </script>
</body>

</html>
