<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>元合服饰 | 微信商城</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
  <!-- bootstrap 3.2.0 -->
  <link href="/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="/css/AdminLTE.css" rel="stylesheet" type="text/css" />
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script>
    $('#myTab a').click(function(e) {
      e.preventDefault();
      $(this).tab('show');
    });

    // weixin js bridge
    function openProductView(){
      if (typeof WeixinJSBridge == "undefined")
        return false;

      var pid = "{{productId}}"; //只需要传递
      WeixinJSBridge.invoke('openProductViewWithPid',{
        "pid":pid
      },function(res){
        // 返回res.err_msg,取值
        // open_product_view_with_id:ok 打开成功
        alert(res.err_msg);
        if (res.err_msg != "open_product_view_with_id:ok"){
          WeixinJSBridge.invoke('openProductView',{
            "productInfo":"{\"product_id\":\""+pid+"\",\"product_type\":0}"
          },function(res){
            alert(res.err_msg);
          });
        }
      });
    }
  </script>
</head>

<body>

  <!-- Nav tabs -->
  <ul id="myTab" class="nav nav-tabs" role="tablist">
    <li class="active">
      <a href="#picture" role="tab" data-toggle="tab">商品简介</a>
    </li>
    <li>
      <a href="#qrcode" role="tab" data-toggle="tab">二维码</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div class="tab-pane active" id="picture">
      <div class="thumbnail" style="border: 0px">
        <img src="{{productImgUrl}}" height="400" width="250">
        <div class="caption" style="text-align: center">
          <p>{{productName}}</p>
          <p><a href="#" class="btn bg-light-blue" style="width:300px;" role="button" onclick="openProductView();">查看详情</a>
          </p>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="qrcode">
      <div class="thumbnail" style="border: 0px">
        <img src="{{qrCodeImgUrl}}" height="400" width="250">
        <div class="caption" style="text-align: center">
          <p><a href="#" class="btn bg-light-blue" style="width:300px;" role="button" onclick="openProductView();">查看详情</a>
          </p>
        </div>
      </div>
    </div>

  </div>

</body>

</html>
