<div class="box-tools">
  <div class="input-group">
    <div class="input-group-addon">
      <i class="fa fa-calendar"></i>
    </div>
    <input type="text" class="form-control input-sm" id="reservation" placeholder="请鼠标点击, 选择开始-结束时间"/>
    <div class="input-group-btn ">
      <button class="btn btn-sm btn-default searchOrder"><i class="fa fa-search"></i>
      </button>
    </div>
    <input type="text" name="table_search" class="form-control input-sm" placeholder="查询店铺名称" />
  </div>
</div>

<div id="grid"></div>
<div id="paginator"></div>
