<div class="box-tools">
  <div class="input-group">
    <button class="btn btn-warning btn-sm refresh" disabled>刷新同步商品列表</button>
    </div>
  </div>
</div>

<div id="grid"></div>
<div id="paginator"></div>
