<div class="box-tools">
  <div class="input-group">
    <!-- <button class="btn btn-primary btn-sm create">新增</button> -->
    <!-- <button class="btn btn-danger btn-sm delete">删除</button> -->
    <button class="btn btn-warning btn-sm edit">修改</button>
    <input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="查询店铺名称" />
    <div class="input-group-btn">
      <button class="btn btn-sm btn-default search"><i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>

<div id="grid"></div>
<div id="paginator"></div>
