<div class="btn-group">
  <button class="btn btn-primary btn-sm create">新增</button>
  <button class="btn btn-warning btn-sm edit">修改</button>
  <button class="btn btn-danger btn-sm delete">删除</button>
</div>
<div id="grid"></div>
<div id="paginator"></div>
